<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name = "format-detection" content = "telephone=no">
  <title>我的订单</title>
  <link rel="stylesheet" href="../../css/aui.css">
  <link rel="stylesheet" href="../../css/km.css">
</head>
<body>
 <div id="app">
  <div class="my-order-el"
    v-for="(item, index) in products"
    :key="index"
  >
    <header
      class="shop-pay-head background-fffbf3"
    >
    订单编号：{{item.code}}
    <span class="span-float-right">{{item.state}}</span>
    </header>
    <div class="shop-pay-site background-fff">
      <div class="shop-pay-site-line">
        <span>收货人：{{item.name}}</span>
        <span class="right">{{item.mobel}}</span>
      </div>
      <div class="shop-pay-site-line2">
        <img src="../../image/site.svg" class="site-icon">
        <div class="shop-pay-site-msg">收货地址：{{item.site}}</div>
        <img src="../../image/go.svg" class="go-icon">
      </div>
    </div>
    <div class="shop-pay-site-ban"></div>
    <div class="background-fff"
      v-for="(el, elIndex) in item.productDetails"
      :key="elIndex"
    >
      <div class="my-order-small-code">订单编号：{{el.code}}</div>
      <div class="shop-pay-state">
        <div >
          <div class="shop-pay-state-head">
            <img :src="el.img" class="product">
            <div class="shop-pay-status">
              <p class="title">{{el.name}}</p>
              <p class="status">规格：{{el.status}}</p>
              <p class="num color-red">￥{{el.price}}</p>
            </div>
            <div class="nums">X{{el.num}}</div>
          </div>
          <div class="line line1">运费 ￥{{el.freight}}</div>
        </div>
      </div>
    </div>
    <div class="my-roder-total background-fff">
      共计{{item.productDetails.length}}件商品 合计：
      <span class="color-red">￥{{item.total}}</span>
    </div>
    <div class="my-roder-btn background-fff">
      <div class="pay">立即付款</div>
      <div class="cancel">取消订单</div>
    </div>
  </div>
 </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/vue.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      products: [{
        code: 'YT1654646',
        state: '已取消',
        name: '戴永明',
        mobel: '13548974111',
        site: '山东省烟台市高新区马山街道蓝海路创业1号国家级孵化器D座',
        total: '750',
        productDetails: [{
          name: '卡萌·萌动装纸尿裤L码',
          num: 5,
          status: 'L',
          code: 'YT16546401',
          price: '150.00',
          freight: '10.00',
          img: '../../image/index/zhanwei.png'
        },{
          name: '卡萌·萌动装纸尿裤L码',
          num: 5,
          status: 'L',
          code: 'YT16546402',
          price: '190.00',
          freight: '10.00',
          img: '../../image/index/zhanwei2.png'
        }]
      },{
        code: 'YT1654646',
        state: '已取消',
        name: '戴永明',
        mobel: '13548974111',
        site: '山东省烟台市高新区马山街道蓝海路创业1号国家级孵化器D座',
        total: '750',
        productDetails: [{
          name: '卡萌·萌动装纸尿裤L码',
          num: 5,
          status: 'L',
          code: 'YT16546401',
          price: '150.00',
          freight: '10.00',
          img: '../../image/index/zhanwei.png'
        },{
          name: '卡萌·萌动装纸尿裤L码',
          num: 5,
          status: 'L',
          code: 'YT16546402',
          price: '190.00',
          freight: '10.00',
          img: '../../image/index/zhanwei2.png'
        }]
      }]
    }
  })
</script>
</html>