.agency-set-head {
  width: 100%;
  height: 124px;
  background: linear-gradient(to right, #fbcfdb , #e79ab4);
  position: relative;
}
.head-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.head-content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 10%;
}
.set-list {
  padding: 0 15px;
}
.set-list-el {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}
.list-left {
  display: flex;
  align-items: center;
}
.list-left img {
  height: 16px;
}
.list-left .font-16 {
  margin-left: 21px;
}
.set-go-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0;
}