<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>个人中心</title>
  <link rel="stylesheet" href="../../css/aui.css">
  <link rel="stylesheet" href="../../css/user/index.css">
</head>
<body class="aui-bg-white">
  <div id="app" v-cloak="">
    <header class="aui-bar aui-bar-nav aui-bar-light" id="aui-header">
      <div class="aui-title" id="title">个人中心</div>
      <a class="aui-pull-right aui-btn" @click="openWin('/html/user/info/user_info_win')">
        <span class="aui-iconfont aui-icon-gear"></span>
      </a>
    </header>
    <div class="my-head">
      <div class="my-flex">
        <div class="my-head-img"  @click="openWin('/html/user/info/user_edit_win')">
          <img  :src='headerImg'>
        </div>
        <div class='my-head-name'>
          <p class="name aui-font-size-16 aui-text-white">{{user.name}}</p>
          <p class="rank aui-text-white">
            <span @click="openWin('/html/user/info/user_edit_win')">一级  去升级>></span>
            <span class="right" @click="openWin('/html/user/deposit/cash_win')">保证金：¥{{user.protectMoney}} >></span>
          </p>
        </div>
      </div>
    </div>
    <div class="my-card">
      <div class="my-card-top" @click="openWin('/html/user/income/month_income_win')">
        <p class="incom">我的总收入</p>
        <p class="money color-f7931e">
          ￥{{user.totalMoney}}
        </p>
        <!--<p class="look color-ccc">查看明细 >></p>-->
      </div>
      <div class="flex">
        <div class="el left">
        <p class="incom">可提现收入</p>
        <p class="money1 color-333">￥{{user.waitTakeEffectCommissionMoney}}</p>
        <p class="look color-ccc" @click="openWin('/html/user/income/income_apply_win')">查看明细 >></p>
      </div>
      <div class="el">
        <p class="incom">待生效</p>
        <p class="money1 color-999">￥{{user.waitTakeEffectCommissionMoney}}</p>
        <p class="look color-ccc"  @click="openWin('/html/user/income/income_log_ready_win')">查看明细 >></p>
      </div>
      </div>
    </div>
    <div class="my-click">
      <div class="my-click-row">
        <div class="el left" @click="openWin('/html/user/income/my_advance_win')">
          <div class="my-click-icon">
            <img src="../../image/user/wdye.png">
          </div>
          <p class="font-14 color-333">我的余额</p>
        </div>
        <div class="el" @click="openWin('/html/order/user/order_win')">
          <div class="my-click-icon">
            <img src="../../image/user/wddd.png">
          </div>
          <p class="font-14 color-333">我的订单</p>
        </div>
      </div>
      <div class="my-click-row">
        <div class="el left" @click="openWin('/html/user/team/my_team')">
          <div class="my-click-icon">
            <img src="../../image/user/wdtd.png">
          </div>
          <p class="font-14 color-333">我的团队</p>
        </div>
        <div class="el" @click="openWin('/html/user/cloud/user_cloud_win')">
          <div class="my-click-icon">
            <img src="../../image/user/wdyc.png">
            <div class="dot aui-text-white" v-if="stockApplyWaitCheckNum>0">{{stockApplyWaitCheckNum}}</div>
          </div>
          <p class="font-14 color-333">我的云仓</p>
        </div>
      </div>
      <div class="my-click-row">
        <div class="el left" @click="openWin('/html/order/order/my_order_win')">
          <div class="my-click-icon">
            <img src="../../image/user/dlsj.png">
            <div class="dot aui-text-white" v-if="userLevelUpWaitCheckNum>0">{{userLevelUpWaitCheckNum}}</div>
          </div>
          <p class="font-14 color-333">代理升级</p>
        </div>
        <div class="el" @click="openWin('/html/user/address/address_list_win')">
          <div class="my-click-icon">
            <img src="../../image/user/shdz.png">
          </div>
          <p class="font-14 color-333">收货地址</p>
        </div>
      </div>
      <div class="my-click-row">
        <div class="el left" @click="openWin('html/order/order/my_order_win')">
          <div class="my-click-icon">
            <img src="../../image/user/sqzs.png">
          </div>
          <p class="font-14 color-333">授权证书</p>
        </div>
        <div class="el" @click="openWin('html/order/order/my_order_win')">
          <div class="my-click-icon">
            <img src="../../image/user/bzzx.png">
          </div>
          <p class="font-14 color-333">帮助中心</p>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/api-ajax.js"></script>
<script src="../../script/api-local.js"></script>
<script src="../../script/vue.min.js"></script>
<script>
  apiready = function () {
    api.parseTapmode();
    var header = $api.byId('aui-header');
    $api.fixStatusBar(header);
    vm.user = $apiLocal.getUser();
    if(vm.user.photo){
      vm.headerImg = $apiAjax.kameng_image + vm.user.photo
    }
    vm.getDate()
  }
  var vm = new Vue({
    el: '#app',
    data: {
      headerImg: '../../image/user/header.png',
      isEdit: false,
      user: {},
      entity: {},
      userLevelUpWaitCheckNum: 0,
      stockApplyWaitCheckNum: 0
    },
    computed: {
      addressAllName: function () {
        var name =  this.address.province + this.address.city + this.address.country
        return name? name : "请选择省市区"
      },
    },
    created: function () {},
    methods: {
      getDate () {
        var self = this;
        $apiAjax.postBody("/user/getPersonalCenter", {},function (data) {
          if (data) {
            self.user = data.custUser
            self.userLevelUpWaitCheckNum = data.userLevelUpWaitCheckNum
            self.stockApplyWaitCheckNum = data.stockApplyWaitCheckNum
          }
        }, true);
      },
      openWin (winName) {
        $api.openWin(winName)
      }
    }
  })

</script>
</html>
