<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>订单详情</title>
  <link rel="stylesheet" href="../../css/aui.css">
  <link rel="stylesheet" href="../../css/km.css">
  <link rel="stylesheet" href="../../css/my/order_details_frm.css">
</head>
<body>
  <div id="app" :class="alertShow ? 'wq-state' : ''">
    <header class="shop-pay-head background-fffbf3">
      订单编号: {{code}}
    </header>
    <div class="shop-pay-site background-fff">
      <div class="shop-pay-site-line">
        <span>收货人：{{name}}</span>
        <span class="right">{{mobel}}</span>
      </div>
      <div class="shop-pay-site-line2">
        <img src="../../image/site.svg" class="site-icon">
        <div class="shop-pay-site-msg">收货地址：{{site}}</div>
      </div>
    </div>
    <div class="shop-pay-site-ban"></div>
    <div class="background-fff"
      v-for="(item, index) in commodity"
      :key="index"
      :class="index !== 0 ? 'order-details-el' : ''"
    >
      <div class="my-order-small-code">
        订单编号：{{item.code}}
        <span v-if="item.status === 1" class="color-red" style="float: right;">代发货</span>
        <span v-else-if="item.status === 2" class="color-red" style="float: right;">已发货</span>
        <span v-else-if="item.status === 3" class="color-red" style="float: right;">维权成功</span>
        <span v-else-if="item.status === 4" class="color-red" style="float: right;">已收货</span>
      </div>
      <div class="shop-pay-state">
        <div>
          <div class="shop-pay-state-head">
            <img :src="item.img" class="product">
            <div class="shop-pay-status">
              <p class="title">{{item.name}}</p>
              <p class="status">规格：{{item.status}}</p>
              <p class="num color-red">{{item.price}}</p>
            </div>
            <div class="nums">X{{item.num}}</div>
          </div>
          <div class="line line1">运费 {{item.yunfei}}</div>
          <div class="line line3">已付金额 <span class="color-red" style="float: right;">{{item.payment}}</span></div>
          <div class="weiquan" v-if="item.status === 1">
            <div class="weiquan-btn font-12 color-333" @click="alertShow = true">维权</div>
          </div>
          <div class="yfh" v-if="item.status === 2">
            <div class="yfh-btn right font-12 color-333">确认收货</div>
            <div class="yfh-btn font-12 color-333">查看物流</div>
          </div>
          <div class="wqxx" v-if="item.status === 3">
            <div class="wqxx-title font-14 color-333">维权信息</div>
            <p class="color-666 font-12">维权时间：{{item.weiquan.time}}</p>
            <p class="color-666 font-12">维权联系人：{{item.weiquan.lxr}}</p>
            <p class="color-666 font-12">维权原因：{{item.weiquan.cause}}</p>
            <p class="color-666 font-12">维权状态：{{item.weiquan.status}}</p>
            <p class="color-666 font-12">维权回复：{{item.weiquan.reply}}</p>
          </div>
          <div class="weiquan" v-if="item.status === 4">
            <div class="weiquan-btn font-12 color-333">评价商品</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ddxx background-fff">
      <div class="wqxx-title font-14 color-333">订单信息</div>
      <div class="ddxx-border">
        <p class="color-666 font-14">商品合计：{{message.sphj}}</p>
        <p class="color-666 font-14">商品运费：{{message.spyf}}</p>
        <p class="color-666 font-14">备注留言：{{message.bzly}}</p>
      </div>
      <div class="ddxx-bottom">
        <p class="color-666 font-12">订单编号：{{message.ddbh}}</p>
        <p class="color-666 font-12">提交时间：{{message.tjsj}}</p>
        <p class="color-666 font-12">支付方式：{{message.zffs}}</p>
        <p class="color-666 font-12">实付金额：{{message.sfje}}</p>
        <p class="color-666 font-12">付款时间：{{message.fksj}}</p>
      </div>
    </div>
    <div v-show="alertShow">
      <div class="zhezhao" @click="alertShow = false"></div>
      <div class="alert-weiquan">
        <p class="title font-17 color-333">维权</p>
        <input type="mobel" placeholder="请输入联系电话" class="alert-mobel">
        <textarea placeholder="请输入维权原因" class="alert-text"></textarea>
        <div class="alert-btn">
          <div class="font-12 color-333" @click="alertShow = false">取消</div>
          <div class="background-fda9c5 color-fff font-12">确定</div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/vue.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      alertShow: false,
      code: 'YT1654646',
      name: '戴永明',
      mobel: '13548974111',
      site: '山东省烟台市高新区马山街道蓝海路创业1号国家级孵化器D座',
      message: {
        sphj: '￥198.00',
        spyf: '￥40.00',
        bzly: '请在工作日发货，谢谢',
        ddbh: '12445877556874122',
        zffs: '微信支付',
        sfje: '￥10.00',
        fksj: '2019-02-21 20:02:23'
      },
      commodity: [
        {
          code: 'YT165464601',
          name: '卡萌·萌动纸尿裤L码',
          num: 1,
          state: 'L',
          status: 1, // 1代发货2已发货3维权成功4已收货
          price: '2个库存',
          yunfei: '￥10.00',
          payment: '￥10.00+2库存',
          img: '../../image/index/zhanwei.png'
        },
        {
          code: 'YT165464601',
          name: '卡萌·萌动纸尿裤L码',
          num: 1,
          state: 'L',
          status: 2, // 1代发货2已发货3维权成功4已收货
          price: '￥99',
          yunfei: '￥10.00',
          payment: '￥109',
          img: '../../image/index/zhanwei2.png'
        },
        {
          code: 'YT165464601',
          name: '卡萌·萌动纸尿裤L码',
          num: 1,
          state: 'L',
          status: 3, // 1代发货2已发货3维权成功4已收货
          price: '￥200',
          yunfei: '￥10.00',
          payment: '￥210',
          img: '../../image/index/zhanwei.png',
          weiquan: {
            time: '2019-02-21 20:02:33',
            lxr: '13563889632',
            cause: '下单地址错误，需要重拍',
            status: '维权成功,正在退款',
            reply: '同意维权'
          }
        },
        {
          code: 'YT165464601',
          name: '卡萌·萌动纸尿裤L码',
          num: 1,
          state: 'L',
          status: 4, // 1代发货2已发货3维权成功4已收货
          price: '￥99',
          yunfei: '￥10.00',
          payment: '￥109',
          img: '../../image/index/zhanwei2.png'
        }
      ]
    }
  })
</script>
</html>