.address-list {
  padding: 0 15px;
}
.address-list-item {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #666;
}
.address-list .address-list-item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.address-list-item input {
  width: 60%;
  height: 22px;
  display: block;
  text-align: right;
}
.address-list-item input::-webkit-input-placeholder {
  color: #999;
  font-size: 15px;
}
.select {
  display: flex;
  align-items: center;
}
.select img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
.address-list-item .default-address {
  width: 18px;
  height: 18px;
}
.address-list-item .default-address:checked {
  background-color: #fda9c5;
  border: none;
}
.address-btn {
  width: 90%;
  text-align: center;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}