/* login */
.login-head {
  width: 100%;
  height: 170px;
  background-image: url('../image/login.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.login-content {
  width: 80%;
  margin: 0 auto;
  margin-top: 65px;
}
.login-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333;
  padding-bottom: 18px;
  border-bottom: 1px solid #eee;
}
.login-item-lable {
  white-space: nowrap
}
.login-item-input {
  margin-left: 14px;
}
.login-list-item-code {
  position: relative;
  padding-top: 18px;
  padding-right: 75px;
}
.login-item-code {
  width: 75px;
  height: 25px;
  border-radius: 20px;
  color: #fff;
  background-color: #feabc5;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12.5px;
  z-index: 100;
}
.login-tx {
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
}
/* login end*/
/* 公共 */
.color-pink {
  color: #feabc5 !important;
}
.color-yellow {
  color: #feeb19;
}
.color-f15a24 {
  color: #f15a24;
}
.color-a0c161 {
  color: #a0c161;
}
.color-666 {
  color: #666;
}
.color-956780 {
  color: #956780;
}
.color-blue {
  color: #63c1db !important;
}
.background-f6 {
  background-color: #f6f6f6;
}
.background-e3 {
  background-color: #e3e3e3;
}
.background-blue {
  background-color: #63c1db;
}
.color-999 {
  color: #999;
}
.color-fff {
  color: #fff;
}
.color-ccc {
  color: #ccc;
}
.color-red {
  color: #dc0024 !important;
}
.color-f7931e {
  color: #f7931e;
}
.color-333 {
  color: #333;
}
.color-febb1f {
  color: #febb1f;
}
.background-color-febb1f {
  background-color: #febb1f;
}
.bacground-f7 {
  background-color: #f7f7f7;
}
.background-color-feabc5 {
  background-color: #feabc5;
}
.background-fff {
  background-color: #fff;
}
.background-fda9c5 {
  background-color: #fda9c5;
}
.background-fffbf3 {
  background-color: #fffbf3;
}
.bacground-ffe2cf {
  background-color: #ffe2cf;
}
.background-febb1f {
  background-color: #febb1f;
}
.background-fffaf3 {
  background-color: #fffaf3;
}
.login-item-input input[type="number"]::-webkit-input-placeholder {
  color: #ccc;
}
.font-15 {
  font-size: 15px;
}
.font-13 {
  font-size: 13px;
}
.font-17 {
  font-size: 17px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}
.btn {
  width: 240px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  border: 1px solid #feabc5;
  display: block;
  margin: 0 auto;
  top: 45.5px;
}
.title-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* 公共 end*/
/* index_frm */
.index-head {
  width: 100%;
  height: 248px;
  background-image: url('../image/index/background.png');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  padding: 0 15px;
  overflow: hidden;
}
.index-flex {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #feabc5;
  padding-bottom: 5px;
  z-index: 1000;
}
.index-search-logo {
  width: 16%;
  height: 24px;
  margin-left: 15px;
}
.index-search-logo img {
  width: 100%;
  height: 100%;
}
.index-search {
  width: 68%;
  padding: 6px 5px 6px 30px;
  position: relative;
  background-color: rgba(255,255,255,.3);
  border-radius: 20px;
}
.index-search-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -8px;
}
input[type="text"].index-input-search {
  font-size: 12px;
  height: 1.2rem;
  color: #fff;
}
.index-search-icon img {
  width: 100%;
  height: 100%;
}
.index-input-search::-webkit-input-placeholder {
  color: rgba(255,255,255,.4);
}
.index-msg-top {
  width: 16px;
  position: relative;
}
.index-msg-top img {
  width: 100%;
  height: 100%;
}
.index-msg-dot {
  position: absolute;
  top: -5px;
  right: -5px;
}
.index-msg-text {
  text-align: center;
  color: #fff;
  font-size: 10px;
  margin-top: 4px;
}
.index-msg-icon {
  margin-top: 5px;
  margin-right: 15px;
}
.index-head #aui-slide3,
.index-head .aui-slide-wrap,
.index-head .aui-slide-node,
.index-head .aui-slide-node img {
  border-radius: 10px;
}
.index-section .aui-grid .aui-iconfont {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.index-section .aui-grid .aui-grid-label {
  font-size: 12px;
  color: #333;
}
.index-content-logo {
  display: flex;
  align-items: center;
  justify-centent: space-between;
  padding: 0 15px;
}
.index-centent-logo {
  width: 50px;
  display: block;
}
.index-line {
  width: calc(50% - 27px);
  height: 1px;
  background-color: #fff8eb;
}
.index-product-list {
  margin-top: 15px;
  padding: 0 15px;
  padding-bottom: 50px;
}
.index-product-list-item {
  display: flex;
}
.index-product-list-item:not(:first-of-type) {
  margin-top: 18px;
}
.index-product-img {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  position: relative;
}
.index-product-buy {
  width: 100%;
  height: 21px;
  line-height: 22px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  background-color: #ffba1f;
  position: absolute;
  bottom: 0;
}
.index-product-text {
  width: calc(100% - 115px);
  margin-left: 15px;
  position: relative;
  padding-bottom: 21px;
}
.index-product-title {
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index-product-describe {
  margin-top: 5px;
  font-szie: 13px;
  color: #999;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.index-product-price {
  font-size: 13px;
  color: #feabc5;
  position: absolute;
  bottom: 0;
}
/* index_frm end */
/* classify-index */
.classify-head {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 0 15px 5px 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}
.classify-logo {
  width: 48px;
  height: 22px;
  display: block;
}
.classify-search {
  width: calc(100% - 60px);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 20px;
}
.classify-search img {
  width: 16px;
  height: 16px;
}
.classify-search input {
  color: #333;
  font-sizeL: 12px;
  height: 1.2rem;
  margin-left: 10px;
}
.classify-search input::-webkit-input-placeholder {
  color: #ccc;
}
.classify-content {
  position: relative;
  top: 60px;
  display: flex;
}
.classify-left {
  width: 24%;
  min-height: calc(100vh - 60px);
  background-color: #f9f9f9;
}
.classify-left .aui-tab-item {
  height: 2.8rem;
  line-height: 2.9rem;
  color: #666;
  font-size: 13px;
  position: relative;
  cursor:pointer;
}
.classify-left .aui-active {
  color: #feabc5;
  border: none;
}
.classify-left .aui-active:after {
  content: '';
  width: 8px;
  height: 20px;
  background-color: #feabc5;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.classify-right {
  width: 76%;
  min-height: calc(100vh - 60px);
  background-color: #fff;
}
.classify-content-title {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #333;
}
.classify-title {
  margin: 0 9px;
}
.classify-line {
  width: 18px;
  height: 1px;
  background-color: #333;
}
.classify-content-product .aui-col-xs-4 img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.classify-content-product .aui-grid [class*=aui-col-] {
  padding: 10px 0;
}
.classify-content-product .aui-grid .aui-grid-label {
  font-size: 12px;
  color: #333;
}
/* classify-index end*/
/* win 公共样式 */
.win {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #333;
  padding: 20px 15px 10px 15px;
  position: relative;
}
.back-icon,
.share-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-color: #f7f7f7;
}
.back-icon {
  left: 15px;
}
.share-icon img,
.back-icon img {
  width: 100%;
  height: 100%;
}
.share-icon {
  right: 15px;
}
.span-float-right {
  float: right;
}
.float-right {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
/* win end */
/* shopping index */
.shop-win {
  border-bottom: 1px solid #ddd;
}
.shop-tab .aui-tab-item {
  color: #333;
}
.shop-tab .aui-tab-item.aui-active {
  color: #feabc5;
  border-bottom: 2px solid #feabc5;
}
.shop-list-item {
  padding: 20px 15px;
  display: flex;
  border-bottom: 1px solid #eee;
}
.shop-list-left {
  display: flex;
  align-items: center;
}
.shop-list-left .aui-radio {
  width: 1rem;
  height: 1rem;
  border: solid 1px #999;
}
.shop-foot-left-delete input:checked,
.shop-list-left .aui-radio:checked {
  background-color: #feabc5;
  border: 1px solid #feabc5;
}
.shop-list-left img {
  width: 83px;
  height: 83px;
  border: 1px solid #eee;
  margin-left: 10px;
}
.shop-list-right {
  width: calc(100% - 124px);
  margin-left: 11px;
}
.shop-list-title {
  font-size: 16px;
  color: #333;
}
.shop-list-standard {
  color: #999;
  margin-top: 5px;
}
.shop-repertory {
  margin-top: 15px;
  font-size: 16px;
  color: #dc0024;
}
.shop-presell {
  margin-top: 15px;
}
.shop-presell span {
  display: inline-block;
  font-size: 10px;
  background-color: #fee7ed;
  padding: 1px 2px;
  border-radius: 2px;
  color: #dc0024;
}
.shop-kc {
  color: #dc0024;
  font-size: 16px;
  bottom: 0;
  left: 0;
}
.shop-btn {
  width: 108px;
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
}
.shop-btn1 {
  margin-top: 8px;
  width: 108px;
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
}
.shop-box {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 3px;
}
.shop-box div {
  width: 28px;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  padding: 0 8px;
  text-align: center;
}
.shop-subtract {
  color: #ccc;
}
.shop-num {
  color: #333;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.shop-add {
  color: #333;
}
.shop-delete {
  width: 12px;
  height: 16px;
}
.shop-delete img {
  width: 100%;
  height: 100%;
}
.foot {
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: fixed;
  display: flex;
  bottom: 0;
  border-top: 1px solid #eee;
}
.shop-foot-left {
  width: 70%;
  height: 100%;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  padding-left: 15px;
}
.shop-foot-left span {
  font-size: 16px;
  color: #dc0024;
}
.shop-foot-right {
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.shop-foot-left-delete input {
  display: block;
  width: 1rem;
  height: 1rem;
}
.shop-foot-left-delete {
  width: 70%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-left: 15px;
}
.shop-foot-left-delete div {
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}
/* shopping index end */
/* product detail */
.product-detail-win {
  position: fixed;
  top: 0;
  padding-left: 29%;
  padding-right: 29%;
  padding-top: 10px;
  padding-bottom: 0;
  z-index: 100;
}
.product-detail-win .aui-tab-item {
  font-size: 16px;
  color: #666;
}
.product-detail-win .aui-active {
  color: #feabc5;
  border-bottom: 3px solid #feabc5;
}
.product-detail-banner {
  position: relative;
  top: 54px;
}
.product-detail-banner .aui-slide-page-wrap {
  z-index: 100;
}
.product-detail-sell {
  width: 100%;
  height: 50px;
  background-image: url('../image/shopping/sell.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.product-detail-sell-left {
  color: #fff;
  font-size: 15px;
  line-height: 50px;
}
.product-detail-time {
  color: #fff;
  cont-size: 12px;
  margin-top: 5px;
}
.product-detail-limit {
  width: 80px;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 0.1px 2px;
  border-radius: 20px;
  text-align: center;
  background-color: #fa7065;
  margin-top: 2px;
}
.product-detail-section {
  width: 100%;
  padding: 18px 15px 10px 15px;
}
.product-detail-section-title .color-red {
  font-size: 16px;
}
.product-detail-section-title .color-999 {
  margin-left: 2px;
  font-size: 12px;
  text-decoration: line-through;
}
.product-detail-name {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}
.product-detail-num {
  font-size: 12px;
  margin-top: 15px;
}
.product-detail-num span {
  margin-left: 18%;
}
.product-detail-select {
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #333;
  font-size: 16px;
  padding: 0 15px;
  position: relative;
  margin-top: 10px;
}
.product-detail-select img {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}
.product-photo-detail {
  margin-top: 10px;
  padding-bottom: 70px;
}
.product-photo-detail .title {
  padding: 0 15px;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #eee;
}
.detail-img,
.detail-img img {
  width: 100%;
}
.product-detail-comments {
  margin-top: 10px;
  padding: 0 15px;
}
.comment-user {
  display: flex;
  align-items: center;
}
.comment-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment-user span {
  fot-size: 14px;
  color: #333;
  margin-left: 9px;
}
.product-detail-comments .time {
  font-size: 11px;
  color: #999;
  margin-top: 10px;
}
.comment-photo {
  margin-top: 20px;
}
.comment-photo img {
  width: 164px;
  height: 164px;
  border-radius: 5px;
}
.product-detail-foot {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  z-index: 1000;
}
.product-detail-foot .aui-iconfont {
  height: 22px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 50%;
  margin-left: -11px;
}
.film {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 200;
  display: block;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-12 {
  margin-top: 12px;
}
.margin-right-f10 {
  margin-right: -10px;
}
.pay {
  height: 100vh;
  display: block;
  overflow: hidden;
}
.asf {
  display: block;
}
.film-content {
  width: 100%;
  height: calc(100vh - 187px);
  position: absolute;
  bottom: 0;
  background-color: #fff;
}
.film-content-title {
  position: relative;
  padding: 19px 15px;
  border-bottom: 1px solid #eee;
}
.film-content-title .product {
  width: 102px;
  height: 102px;
  position: absolute;
  left: 15px;
  top: -20px;
  border-radius: 3px;
}
.film-content-title div {
  margin-left: 122px;
}
.film-content-title .price {
  font-size: 13px;
  color: #dc0024;
}
.film-content-title .kc {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}
.film-content-title .select {
  margin-top: 5px;
  color: #333;
  font-size: 12px;
}
.film-content-title .close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 19px;
  right: 15px;
}
.film-standard {
  padding: 23px 15px;
  border-bottom: 1px solid #eee;
}
.film-zhanwei {
  width: 100%;
  height: 137px;
}
.film-standard p {
  font-size: 14px;
  color: #333;
}
.film-standard .aui-tab {
  flex-wrap: wrap;
}
.film-standard .aui-tab-item {
  width: 40px;
  height: 29px;
  border-radius: 2px;
  line-height: 29px;
  text-align: center;
  color: #333;
  font-size: 13px;
  background-color: #f4f4f4;
  border: 1px solid #eee;
}
.film-standard .aui-tab-item:not(:first-of-type) {
   margin-left: 18px;
}
.film-standard .aui-active {
  border: none;
  background-color: #feabc5;
  color: #fff;
}
.film-standard .aui-tab {
  margin-top: 13px;
}
.film-standard .aui-tab-item1 {
  width: 60px;
}
.film-num {
  padding: 23px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.film-num .text {
  font-size: 14px;
  color: #333;
}
.film-num .box {
  display: flex;
  text-align: center;
  line-height: 30px;
  border: 1px solid #eee;
}
.film-num .j,
.film-num .add {
   width: 30px;
   height: 30px;
}
.film-num .num {
  width: 60px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* product detail end*/
/* product-comment-frm */
.product-comment {
  width: 100%;
  padding: 8px 0 58px 0;
}
.product-comment .product-detail-comments {
  margin-top: 0;
}
.product-comment .product-detail-comment-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.product-comment .product-detail-comment-item:not(:first-of-type) {
  margin-top: 10px;
}
.product-detail-comment-item .msg {
  font-size: 13px;
  color: #333;
  margin-top: 10px;
}
.product-comment .product-detail-comment-item .comment-photo {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-comment .product-detail-comment-item .comment-photo .item-img {
  margin-top: 10px;
  width: 32%;
  height: 105px;
  border-radius: 5px;
}
/* product-comment-frm end */
/* shop_pay */
.shop-pay-head {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 11px;
}
.shop-pay-site {
  padding: 18px 15px;
}
.shop-pay-site-line {
  margin-left: 22px;
  font-size: 13px;
  color: #333;
}
.shop-pay-site-line .right {
  float: right;
  margin-right: 8px;
}
.shop-pay-site-line2 {
  position: relative;
}
.shop-pay-site-msg {
  margin: 10px 17px 0 22px;
  font-size: 12px;
}
.shop-pay-site-line2 .site-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.shop-pay-site-line2 .go-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 5px;
}
.shop-pay-site-ban {
  width: 100%;
  height: 6px;
  background-image: url('../image/bianline.jpg');
}
.shop-pay-state {
  padding: 17px 15px;
  background-color: #fff;
  margin-top: 10px;
}
.shop-pay-state-head {
  display: flex;
  position: relative;
}
.shop-pay-state-head .product {
  width: 82px;
  height: 82px;
  border: 1px solid #eee;
}
.shop-pay-status {
  width: calc(100% - 115px);
  margin-left: 11px;
}
.shop-pay-status .title {
  font-szie: 16px;
  color: #333;
}
.shop-pay-status .status {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}
.shop-pay-status .num {
  margin-top: 13px;
  font-size: 16px;
}
.shop-pay-state-head .nums {
  position: absolute;
  font-size: 12px;
  color: #333;
  top: 0;
  right: 0;
}
.shop-pay-state .line {
  padding: 20px 0;
  font-size: 16px;
}
.shop-pay-state .line span {
  float: right;
}
.shop-pay-state .line1 {
  margin-top: 20px;
  text-align: right;
}
.shop-pay-state .line2 {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.shop-pay-state .message {
  display: flex;
  align-items: center;
}
.shop-pay-state .text {
  width: 70%;
  margin-lef: 10px;
}
.shop-pay-state .text::-webkit-input-placeholder {
  color: #ddd;
}
.shop-pay-lan label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
  position: relative;
  transform: translateY(2px);
}
.shop-pay-lan label::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
}
.shop-pay-lan input[type='radio'] {
  display: none;
}
.shop-pay-lan input[type='radio']:checked + label::before {
  background: #a0c161;
}
.shop-pay-lan {
  margin-top: 10px;
  padding: 0 15px;
}
.shop-pay-lan .line {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 15px 0;
}
.shop-pay-lan .line1 {
  font-szie: #333;
  font-szie: 16px;
  padding: 15px 0;
}
.shop-pay-foot-left {
  width: 70%;
  padding: 0 15px;
}
.shop-pay-foot-left .font-15 {
  height: 22px;
  line-height: 34px;
}
.shop-pay-foot-left .font-11 {
    height: 20px;
    line-height: 28px;
}
.shop-pay-foot-right {
  width: 30%;
  text-align: center;
}
.shop-pay-remind .film {
  display: block;
  height: 100vh;
}
.shop-pay-remind .remind {
  width: 68%;
  height: 210px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -34%;
  z-index: 300;
  border-radius: 10px;
  background-color: #fff;
}
.shop-pay-remind .remind-relative {
  position: relative;
  padding: 15px;
}
.shop-pay-remind .remind-absolute {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px;
}
.shop-pay-remind .remind-absolute img {
  width: 55px;
  height: 55px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
  left: 50%;
  margin-left: -27.5px;
}
.shop-pay-remind .font-17 {
  margin-top: 36px;
}
.shop-pay-remind .background-color-feabc5 {
  width: 47%;
  height: 34px;
  line-height: 34px;
  margin: 0 auto;
  margin-top: 28px;
  border-radius: 20px;
}
.zhezhao-di {
  height: 100vh;
  overflow: hidden;
}
/* shop_pay end*/
/* add_comment */
.add-comment {
  width: 100%;
  padding: 14px 15px;
  border-bottom: 1px solid #eee;
}
.add-comment .text {
  width: 100%;
  height: 80px;
  padding-bottom: 10px;
  font-size: 14px;
}
.add-comment .text::-webkit-input-placeholder {
  color: #999;
}
.add-comment-photots {
  display: flex;
  justify-content: space-between;
}
.add-comment-photots .el {
  width: 24%;
  height: 81px;
}
.add-comment-anonymity {
  padding: 0 15px;
  height: 49px;
  position: relative;
}
.add-comment-anonymity span {
  line-height: 49px;
}
.add-comment-anonymity .niming {
  margin-left: 14px;
}
.add-comment-anonymity .font-14 {
  float: right;
}
/* add_comment end*/
/* my index */
.my-head {
  width: 100%;
  height: 162.5px;
  background-image: url('../image/my/back.jpg');
  background-size: 100% 100%;
  background-position: center;
  padding: 0 15px;
  overflow: hidden;
}
.my-flex {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.my-head-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
}
.my-head-img img {
  width: 100%;
  height: 100%;
}
.my-head-name {
  width: calc(100% - 79px);
  margin-left: 17px;
}
.my-head-name .rank {
  margin-top: 5px;
}
.my-head-name .right {
  float: right;
}
.my-card {
  width: 90%;
  height: 133px;
  padding: 17px 0;
  background-color: #fffaf4;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #c9c2b8;
  position: absolute;
  left: 50%;
  margin-left: -45%;
  top: 161px;
  display: flex;
}
.my-card .el {
  width: 50%;
  padding: 0 15px;
}
.my-card .left {
  border-right: 1px solid #eee;
}
.my-card .incom {
  font-size: 15px;
  color: #333;
  margin-top: 10px;
}
.my-card .money {
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
}
.my-card .look {
  font-size: 11px;
  text-align: right;
  margin-top: 20px;
}
.my-click {
  width: 90%;
  margin: 0 auto;
  margin-top: 110px;
}
.my-click-row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.my-click-row:last-of-type {
  border: none;
}
.my-click-row .el {
  width: 50%;
  height: 35px;
  display: flex;
  font-size: 14px;
  color: #333;
  align-items: center;
  justify-content: center;
}
.my-click-icon {
  width: 29px;
  height: 29px;
  position: relative;
}
.my-click-icon img {
  width: 100%;
  height: 100%;
}
.my-click-row .font-14 {
  margin-left: 25px;
}
.my-click-row .left {
  border-right: 1px solid  #eee;
}
.my-click-icon .dot {
  width: 10px;
  height: 10px;
  font-size: 8px;
  background-color: #dc0024;
  text-align: center;
  border-radius: 50%;
  line-height: 10px;
  position: absolute;
  right: -5px;
  top: -2px;
}
/* my index end*/
/* my_order_win */
.my-order-win {
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.my-order-win .item {
  width: 19%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  font-size: 14px;
}
.my-order-win .active {
  color: #feabc5;
  border-bottom: 3px solid #feabc5;
}
/* my_order_win end*/
/* my_order_frm */
.my-order-el:not(:first-of-type) {
  margin-top: 10px;
}
.my-order-el .shop-pay-head {
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  color: #333;
}
.my-order-el .span-float-right {
  font-szie: 12px;
  color: #f15a24;
}
.my-order-small-code {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #333;
  padding: 0 15px;
}
.my-order-el .shop-pay-state {
  padding-top: 0;
  padding-bottom: 0;
}
.my-order-el .shop-pay-state .line {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.my-roder-total {
  width: 100%;
  padding: 0 15px;
  height: 44px;
  line-height: 44px;
  color: #333;
  font-size: 13px;
  text-align: right;
  border-bottom: 1px solid #eee;
}
.my-roder-total .color-red {
  font-size: 15px;
}
.my-roder-btn {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row-reverse;
}
.my-roder-btn div {
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #333;
  border: 1px solid #999;
  border-radius: 15px;
}
.my-roder-btn .cancel {
  position: relative;
  left: -10px;
}
/* my_order_frm end*/
/* logistics-detail */
.logistics-head {
  width: 100%;
  padding: 17px 20px;
  display: flex;
  align-items: center;
}
.logistics-detail-img {
  width: 75px;
  height: 75px;
  display: block;
}
.logistics-detail-text {
  margin-left: 10px;
}
.logistics-detail-text .copy {
  width: 54px;
  height: 16px;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #febb1f;
  border-radius: 10px;
  margin-left: 10px;
}
.logistics-detail-list .title {
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  border-bottom: 1px solid #eee;
}
.logistics-detail-row {
  display: flex;
}
.logistics-detail-row .icon1,
.logistics-detail-row .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  justify-content: center;
}
.logistics-detail-row .icon {
  margin-left: 1.75px;
}
.logistics-detail-row .icon1 {
  padding-top: 12px;
}
.logistics-blue-dot {
  width: 16px;
  height: 16px;
}
.logistics-long-line {
  width: 1px;
  height: calc(100% - 16px);
  background: #ddd;
}
.logistics-hui-dot {
  width: 12px;
  height: 12px;
}
.logistics-short-line {
  width: 1px;
  height: 16px;
  background: #ddd;
}
.logistics-detail-row .text {
  width: 100%;
  padding: 12px 15px 12px 0;
  border-bottom: 1px solid #eee;
}
.logistics-detail-row .logistics-detail-text {
  border-bottom: none;
}
/* logistics-detail end*/
/* 新遮罩样式 */
.zhezhao-back {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
}
/* 遮罩end */
/* my-yc */
.yc-head {
  padding: 16px 10px 16px 15px;
}
.yc-head .yc-num {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 44px;
  border: 1px solid #eee;
  padding: 5px;
}
.yc-head .font-12 {
  margin-top: 10px;
}
.yc-head .font-15 {
  margin-top: 34px;
  text-align: right;
}
.yc-btn {
  width: 86.66%;
  height: 43px;
  line-height: 43px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 22px;
  margin-top: 60px;
}
/* my-yc end*/
/* brand_prefecture_frm */
.bbfrm-head {
  padding: 16px 15px;
  display: flex;
  align-tiems: center;
}
.bbfm-head-img {
  width: 45px;
  height: 45px;
}
.bbfm-head-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bbfrm-text {
  width: calc(100% - 55px);
  margin-left: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-15 {
  margin-left: 15px;
}
.bbfrm-content-text {
  padding: 0 15px;
}
.bbfrm-imgs {
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
}
.bbfrm-img-el {
  width: 32%;
  height: 110px;
  margin-top: 10px;
}
.bbr-foot {
  width: 100%;
  height: 44px;
  line-height: 44px;
  display: flex;
  justify-content: space-between;
}
.bbr-foot img {
  width: 13px;
  height: 13px;
}
.bbr-foot .right {
  display: flex;
}
.bbr-foot .right .item {
  display: flex;
  align-items: center;
}
.bbfrm-share {
  width: 66.66%;
  height: 270px;
  position: absolute;
  z-index: 500;
  left: 50%;
  margin-left: -33.33%;
  top: 50%;
  margin-top: -135px;
  border-radius: 10px;
  padding: 20px 0;
  padding-left: 15%;
}
.wxshare-row1 {
  display: flex;
  align-items: center;
}
.wxshare-row1 img {
  width: 15px;
  height: 15px;
}
.wx-share-line {
  width: 15px;
  height: 1px;
  background-color: #999;
}
.wxshare-btn {
  width: 101px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  margin-top: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wxshare-btn img {
  width: 15px;
  height: 15px;
}
/* brand_prefecture_frm  end*/
/* agent_upgrade_frm1 */
.agent1-list {
  padding: 0 15px 26px 15px;
}
.agent1-list-item {
  display: flex;
  align-items: center;
  padding-top: 26px;
}
.agent1-list-item .aui-radio {
  width: 17px;
  height: 17px;
}
.agent1-list-item .aui-radio:checked {
  background-color: #feabc5;
  border: solid 1px #feabc5;
}
.agent1-btn {
  width: 90%;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  border-radius: 20px;
  margin-top: 60px;
}
.agent2-content {
  padding: 15px;
}
.agent2-content .color-red {
  border: 1px solid #eee;
  margin-top: 5px;
  padding: 5px 10px;
}
/* agent_upgrade_frm1 end*/
/* agent_upgrade_frm3*/
.agent3-content {
  padding: 18px 15px 10px 15px;
  border-bottom: 1px solid #eee;
}
.agent3-content .font-16 {
  margin-top: 16px;
}
.shop-pay-remind .agent3-btn {
  width: 137.5px;
}
/* agent_upgrade_frm3 end*/