.expand-transition {
    animation: accounton .5s;
}
@keyframes accounton {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0;
    }
}
.swiper-transition {
    animation: swiper .5s;
}
@keyframes swiper {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0;
    }
}
.btn-gray {
    background-color: #B4B4B4;
}
.pro-det img {
    width: 100% !important;
    box-sizing: border-box !important;
}
.swiper-container {
    width: 100%;
    height: 360px;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.money-wrap-one span{
    font-size: 13px;
}

.pro-det-bar {
    background-color: #fff;
    padding: 2.9% 4% 2% 4% ;
}
.pro-det-bar .name {
    line-height: 22px;
    padding-bottom: 5px;
}
img.width-full {
    display: block;
}
.pro-det article {
    margin: 0;
    margin-top: 0;
}
.pro-det article .content {
    /*border-top: 1px solid #d5d5d5;*/
}
/*Product specification start*/
.prod-spec, .prod-spec * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.prod-spec {
    background-color: #fff;
    padding: 0 4% 4%;
}
.prod-spec .title {
    line-height: 20px;
    padding: 3.6% 0;
    font-size: 15px;
}
.prod-spec table {
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    width: 100% !important;
}
.prod-spec table td {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    padding: 3%;
    line-height: 17px;
}
.prod-spec .dist-time {
    padding: 3.7% 3%;
    background-color: #fff8e1;
    border: 1px dotted #ef3f3f;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4%;
}
.prod-spec .dist-time .name {
    width: 60px;
    float: left;
}
.prod-spec .dist-time .detail {
    margin-left: 60px;
    color: #ef3f3f;
}


.pop * {
    box-sizing: border-box;
}
.pop-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 11;
}
.pop-cart {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 70%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0 15px;
    color: #666;
    z-index: 100;
}
.pop-cart .title {
    line-height: 45px;
    color: #333;
    font-size: 16px;
}
.pop-cart .content {
    overflow-y: auto;
}
.pop-cart .type {
    color: #333;
    line-height: 44px;
}
.pop-cart li {
    padding: 0;
}
.pop-cart .btn-wrap {
    padding: 10px 0 12px;
}
.aui-checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    background: transparent;
    border: solid 1px #999;
    border-radius: 50%;
    display: inline-block;
    -webkit-appearance: none;
    transition: background-color ease 0.1s;
    box-sizing: border-box;
}
.aui-checkbox:after {
    pointer-events: none;
}
.aui-checkbox:checked,
.pop .pop-cart .aui-checkbox.aui-checked {
    border: solid 1px #ec1b23;
    text-align: center;
    background-color: #ec1b23;
}
.aui-checkbox:checked:before,
.aui-checkbox.aui-checked:before {
    position: absolute;
    left: 0;
    top: 1px;
    font-size: 19px;
    display: inline-block;
    font-family: "icomoon";
    content: "\e947";
    color: #fff;
}
