<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/aui.css">
  <link rel="stylesheet" href="../../../css/product/product-list.css">
</head>
<body class="aui-bg-white">
  <div id="app">
    <div class="index-product-list">
      <div class="index-product-list-item" v-for="entity in entities"
           @click="openDetail(entity.productId)">
        <div class="index-product-img">
          <img :src="imgPath + entity.productListPic">
          <div class="index-product-buy" v-if="entity.isTimingUp">{{entity.downTime}} 开售</div>
        </div>
        <div class="index-product-text">
          <p class="index-product-title">{{entity.productName}}</p>
          <p class="index-product-describe">{{entity.productRemark}}</p>
          <p class="index-product-price color-red">
            <template v-if="entity.productType == '1'"> 云仓
              <template v-if="entity.stockMinPrice == entity.stockMaxPrice">
                {{entity.stockMinPrice}}
              </template>
              <template v-else>
                {{entity.stockMinPrice}} - {{entity.stockMaxPrice}}
              </template>
            </template>
            <template v-else> ￥
              <template v-if="entity.productMinPriceE == entity.productMaxPriceE">
                {{entity.productMinPriceE}}
              </template>
              <template v-else>
                {{entity.productMinPriceE}} - {{entity.productMaxPriceE}}
              </template>
            </template>
          </p>
        </div>
      </div>
    </div>
    <div class="no_line color-999" v-show="noMoreData"><span>没有更多商品了</span></div>
    <div class="no-data" v-show="noData">
      <img src="../../../image/nodata.svg">
      <div class="text">暂无商品</div>
    </div>
  </div>
</body>
<script src="../../../script/api.js"></script>
<script src="../../../script/api-ajax.js"></script>
<script src="../../../script/api-local.js"></script>
<script src="../../../script/api-loading.js"></script>
<script src="../../../script/vue.min.js"></script>
<script>
  apiready = function (){
    vm.loading(1);
    $apiLoading.loadModel(function (pageIndex) {
      vm.loading(pageIndex);
    });
  };
  var vm = new Vue({
    el: '#app',
    data: {
      imgPath: $apiAjax.kameng_image,
      noData: false,
      noMoreData: false,
      entities: []
    },
    created: function () {

    },
    methods: {
      dateFormat: function(time) {
        var date=new Date(time);
        var month= date.getMonth()+1<10 ? "0"+(date.getMonth()+1) : date.getMonth()+1;
        var day=date.getDate()<10 ? "0"+date.getDate() : date.getDate();
        var hours=date.getHours()<10 ? "0"+date.getHours() : date.getHours();
        var minutes=date.getMinutes()<10 ? "0"+date.getMinutes() : date.getMinutes();
        // 拼接
        return month+"."+day+" "+hours+":"+minutes;
      },
      openDetail: function(productId){
        var url = $apiAjax.kameng_web + '/goods/' + productId + '/' + $apiLocal.getUserId();
        $api.openWin('/html/goods/product/product_detail_win', {
          url: url
        })
      },
      loading: function(pageNo){
        var self = this;
        $apiAjax.postBody("/product/page", {
          param: {
            productLabelId: api.pageParam.productLabelId,
            productType: api.pageParam.productType
          },
          page: $apiLoading.page
        },function (data, page) {
          $apiLoading.setPage(page);
          self.noData = false;
          if (page.pageNo === 1) {
            if(data.length === 0) self.noData = true;
            self.entities = data
          } else {
            self.entities = self.entities.concat(data);
          }
          self.noMoreData = pageNo > 1 && !page.hasNext && !self.noData;
        }, true);

      }
    }
  })
</script>
</html>
