<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name = "format-detection" content = "telephone=no">
  <title>收入明细</title>
  <link rel="stylesheet" href="../../../css/aui.css">
  <link rel="stylesheet" href="../../../css/user/income_detail.css">
</head>
<body>
  <div id="app">
    <div class="padding-0-15 aui-padded-b-10">
      <div class="day-detail-item" v-for="(item, index) in entities" :key="item.orderCommissionLogId">
        <p class="day" v-if="showMonth(index)">{{getMonthDate(item.receivingTime)}}</p>
        <div class="day-list-item">
          <div class="code aui-font-size-14 aui-text-333 aui-text-333 background-fffbf3">商品订单编号：{{item.orderNo}}</div>
          <div class="aui-bg-white day-list-item-bottom">
            <p class="aui-font-size-18 aui-text-333 aui-text-danger">
              {{item.commissionMoney}}元
              <span class="aui-margin-l-10 aui-text-gray aui-font-size-12" v-if="item.withdrawCashState === '0'">未提现</span>
              <span class="aui-margin-l-10 aui-text-aui-text-primary aui-font-size-12" v-if="item.withdrawCashState === '1'">提现中</span>
              <span class="aui-margin-l-10 aui-text-success aui-font-size-12" v-if="item.withdrawCashState === '2'">已通过</span>
              <span class="time aui-font-size-12 aui-text-999 income-float-right">{{item.receivingTime}}</span>
            </p>
            <p class="aui-margin-t-5 aui-font-size-12 aui-text-gray">{{item.commissionRemark}}</p>
          </div>
        </div>
      </div>
      <div class="no_line color-999 gray" v-show="noMoreData"><span class="gray">没有更多记录了</span></div>
    </div>



    <div class="aui-no-data " v-show="noData">
      <img src="../../../image/shopping/no_order.svg" alt="">
      <div class="text">没有查到可提现的记录</div>
    </div>
  </div>
</body>
<script src="../../../script/api.js"></script>
<script src="../../../script/api-ajax.js"></script>
<script src="../../../script/api-local.js"></script>
<script src="../../../script/api-loading.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/aui/aui-dialog.js"></script>
<script>

  apiready = function (){
    api.parseTapmode();
    vm.loading(true);
    $apiLoading.loadModel(function () {
      vm.loading(false);
    });
  };

  var vm = new Vue({
    el: '#app',
    data: {
      entities: [],
      noData: false,
      noMoreData: false
    },
    created () {
    },
    methods: {
      getMonthDate: function(dateStr) {
        if (dateStr) {
          var date = new Date(dateStr);
          var month = date.getMonth() + 1;
          var day = date.getDate();
          month = (month < 10 ? "0" + month : month);
          day = (day < 10 ? "0" + day : day);
          return month.toString() + "-" + day.toString();
        }
      },
      showMonth: function(index){
        if(index>0){
          var devData = new Date(this.entities[index-1].receivingTime)
          if (devData) {
            var devStr = devData.getMonth() * 100 + devData.getDate()
            var thisData = new Date(this.entities[index].receivingTime)
            if (thisData) {
              var thisStr = thisData.getMonth() * 100 + thisData.getDate()
              return devStr !== thisStr
            } else {
              return false
            }
          } else {
            return false
          }
        } else {
          return true
        }
      },
      loading: function(isFlush){
        var self = this;
        $apiAjax.postBody("/order/commission/log/page", {
          param: {
            commissionClearingLogId: api.pageParam.commissionClearingLogId
          },
          page: $apiLoading.page
        },function (data, page) {
          $apiLoading.setPage(page);
          self.noData = false;
          if (page.pageNo === 1) {
            if(data.length === 0) self.noData = true;
            else self.entities = data
          } else {
            self.entities = self.entities.concat(data);
          }
          self.noMoreData = page.pageNo > 1 && !page.hasNext && !self.noData;
        }, isFlush);
      }
    }
  })
</script>
</html>
