<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name = "format-detection" content = "telephone=no">
  <title>提现申请</title>
  <link rel="stylesheet" href="../../../css/aui.css">
  <link rel="stylesheet" href="../../../css/user/income_apply.css">
</head>
<body>
  <div id="app" :class="remind.show? 'aui-static' : ''">
    <div class="head aui-bg-white">
      <p class="aui-margin-t-10  aui-font-size-14 aui-text-gray text-center">可提现金额</p>
      <p class="big-price aui-text-danger aui-margin-t-5 text-center">￥{{entity.waitTotalMoney}}</p>
      <div class="aui-row aui-margin-t-5">
        <div class="aui-col-xs-6 col-left">
          <p class="aui-font-size-14 aui-text-999  text-center">扣税金额</p>
          <p class="aui-font-size-16 aui-text-333 aui-margin-t-5 text-center">￥{{entity.waitTaxMoney}}</p>
        </div>
        <div class="aui-col-xs-6">
          <p class="aui-font-size-14 aui-text-999 text-center">实际到账金额</p>
          <p class="aui-font-size-16 aui-text-333 aui-margin-t-5 text-center">￥{{entity.waitRealMoney}}</p>
        </div>
      </div>
      <p class="aui-font-size-12 aui-text-999 head-look" @click="openWaitDetail()">查看明细>></p>
      <div class="head-flex aui-margin-t-10">
        <div class="left background-pink aui-text-white" @click="changeIncome('1')">全部提现</div>
        <div class="right aui-bg-white color-pink aui-margin-l-10" @click="changeIncome('2')">全部转到余额</div>
      </div>
    </div>

    <div class="withdraw-title aui-font-size-16 aui-text-333">提现记录</div>
    <div class="withdraw-list">

      <div class="withdraw-list-item aui-bg-white" v-for="item in entities" :key="item.withdrawCashLogId">
        <div class="line1">
          <div class="aui-font-size-16 aui-text-danger">{{item.totalMoney}} 元
            <span class="color-f7931e aui-font-size-12" v-if="item.withdrawCashState === '1'">提现中</span>
            <span class="aui-text-success aui-font-size-12" v-if="item.withdrawCashState === '2'">已通过</span>
            <span class="color-a0c161 aui-font-size-12" v-if="item.withdrawCashState === '3'">已取消</span>
          </div>
          <div class="aui-text-999 aui-font-size-12">{{item.createTime}}</div>
        </div>
        <p class="line2 aui-text-gray aui-font-size-14">
          扣税金额{{item.taxMoney}}元，实际到账金额{{item.realMoney}}元
          <template v-if="item.withdrawCashType === '1'">(提现到银行)</template>
          <template v-if="item.withdrawCashType === '2'">(转至余额)</template>

        </p>
        <div class="line3 aui-font-size-12 aui-text-primary" @click="openDetail(item.commissionClearingLogIds)">查看明细>></div>
      </div>

    </div>

    <div class="aui-no-data " v-show="noData">
      <img src="../../../image/shopping/no_order.svg" alt="">
      <div class="text">没有查到您的体现记录</div>
    </div>

    <div v-show="remind.show">
      <div class="aui-static-back" @click="remind.show = false"></div>
      <div class="shop-pay-remind">
        <div class="remind">
          <div class="remind-relative">
            <div class="remind-absolute">
              <img src="../../../image/alert.png" alt="">
            </div>
            <p class="aui-text-center aui-font-size-16 aui-text-333">提醒</p>
            <p class="aui-text-center aui-font-size-14 aui-text-666 aui-margin-t-10">{{remind.msg}}</p>
            <div class="background-color-feabc5 aui-text-white aui-font-size-14 aui-text-center" @click="remindSure">{{remind.but}}</div>
          </div>
        </div>
      </div>
    </div>

    <div v-show="showSuccess">
      <div class="aui-static-back" @click="showSuccess = false"></div>
      <div class="shop-pay-remind">
        <div class="remind">
          <div class="remind-relative">
            <div class="remind-absolute">
              <img src="../../../image/success.svg" alt="">
            </div>
            <p class="aui-text-center aui-font-size-16 aui-text-333">提交成功</p>
            <p class="aui-text-center aui-font-size-14 aui-text-666 aui-margin-t-10">你的提现申请已经提交，请耐心等待公司审核</p>
            <div class="background-color-feabc5 aui-text-white aui-font-size-14 aui-text-center" @click="finish">确定</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<script src="../../../script/api.js"></script>
<script src="../../../script/api-ajax.js"></script>
<script src="../../../script/api-local.js"></script>
<script src="../../../script/api-loading.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/aui/aui-dialog.js"></script>
<script>
  apiready = function (){
    api.parseTapmode();
    vm.loading(true);
    vm.loadIncome();
    $apiLoading.loadModel(function () {
      vm.loading(false);
    });
  };

  var vm = new Vue({
    el: '#app',
    data: {
      remind: {
        show: false,
        msg: ''
      },
      showSuccess: false,
      userId: '',
      entity: {},
      entities: [],
      noData: false,
      noMoreData: false
    },
    created () {
    },
    methods: {
      openWaitDetail () {
        $api.openWin('/html/user/income/income_apply_ready_win')
      },
      openDetail (commissionClearingLogIds) {
        $api.openWin('/html/user/income/income_apply_log_win', {
          commissionClearingLogIds: commissionClearingLogIds
        })
      },
      finish () {
        this.showSuccess = false
        this.loadIncome()
        $apiLoading.page.pageNo = 1
        this.loading(true)
      },
      remindSure () {
        this.remind.show = false
        if(!this.entity.bankCardExist){
          $api.openWin('/html/user/info/user_edit_win', {
            flushIncome: true
          })
        }
      },
      changeIncome (type) {
        if(this.entity.waitTotalMoney < this.entity.withdrawCashMinAmount) {
          var msg = '提现'
          if (type === '2') { msg = '转入' }
          this.remind.show = true
          this.remind.msg = '最小' + msg + '金额为' + this.entity.withdrawCashMinAmount + '元'
          this.remind.but = '确定'
        } else if(!this.entity.allowWithdrawCash) {
          this.remind.show = true
          this.remind.msg = this.entity.allowWithdrawCashErrorMsg
          this.remind.but = '确定'
        } else if(!this.entity.bankCardExist) {
          this.remind.show = true
          this.remind.msg = '提现到银行卡需要完善您的个人信息。'
          this.remind.but = '去完善'
        }  else {
          this.postChange(type)
        }
      },
      postChange (type){
        var self = this;
        $apiAjax.postBody("/commission/clearing/log/applyWithdrawCash", {
          withdrawCashType: type
        },function (data) {
          if (data) {
            self.showSuccess = true
          }
        }, true);
      },
      loadIncome () {
        var self = this;
        $apiAjax.postBody("/commission/clearing/log/getWaitWithdrawCashData", {},function (data) {
          if (data) {
            self.entity = data
          }
        }, true);
      },
      loading: function(isFlush){
        var self = this;
        $apiAjax.postBody("/withdraw/cash/log/page", {
          param: {},
          page: $apiLoading.page
        },function (data, page) {
          $apiLoading.setPage(page);
          self.noData = false;
          if (page.pageNo === 1) {
            if(data.length === 0) self.noData = true;
            else self.entities = data
          } else {
            self.entities = self.entities.concat(data);
          }
          self.noMoreData = page.pageNo > 1 && !page.hasNext && !self.noData;
        }, isFlush);
      }
    }
  })
</script>
</html>
