<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name = "format-detection" content = "telephone=no">
  <title>确认订单</title>
  <link rel="stylesheet" href="../../../css/aui.css">
  <link rel="stylesheet" href="../../../css/order/confirm.css">
</head>
<body>
  <div id="app" style="padding-bottom: 60px;" v-bind:class="{'remind-di': showRemind}">
    <header class="shop-pay-head bacground-ffe2cf color-f7931e">请仔细核对订单信息！</header>
    <div class="shop-pay-site background-fff" v-show="hasAddress" @click="openAddress()">
      <div class="shop-pay-site-line">
        <span>收货人：{{userAddress.receiverName}}</span>
        <span class="right">{{userAddress.receiverPhone}}</span>
      </div>
      <div class="shop-pay-site-line2">
        <img src="../../../image/site.svg" class="site-icon">
        <div class="shop-pay-site-msg">收货地址：{{userAddress.province}}{{userAddress.city}}{{userAddress.country}}{{userAddress.receiverAddress}}</div>
        <img src="../../../image/go.svg" class="go-icon">
      </div>
    </div>
    <div class="shop-pay-site background-fff" v-show="!hasAddress" @click="openAddress()">
      <div class="shop-pay-site-line2">
        <div class="shop-pay-site-msg">请先选择您的收货地址~</div>
        <img src="../../../image/go.svg" class="go-icon">
      </div>
    </div>
    <div class="shop-pay-site-ban"></div>
    <div class="shop-pay-state">
      <div v-for="(item, index) in entity" :key="index" class="shop-pay-state-detail">
        <div class="shop-pay-state-head">
          <img :src="imgPath + item.stockPic" class="product">
          <div class="shop-pay-status">
            <p class="title text-overflow">{{item.productName}}</p>
            <p class="status text-overflow">规格：{{item.dbSortsName}}</p>
            <p class="num color-red">
              <template v-if="isCloud">{{item.stockPrice}}个云仓</template>
              <template v-else>{{item.productPrice}} 元</template>
            </p>
          </div>
          <div class="nums">X{{item.productNum}}</div>
        </div>
        <div class="line-charge" v-if="!item.isLogistics">&nbsp; <span>运费  ￥{{item.freightMoney}}</span></div>
      </div>
      <div class="line line2">商品总价 <span>{{showMoney}}</span></div>
      <div class="line">合计：<span class="color-red">{{showTotalMoney}}</span></div>
      <div class="message">
        备注留言：
        <input type="text" placeholder="请写备注内容" v-model="remark" class="text">
      </div>
    </div>
    <div class="shop-pay-lan background-fff">
      <div class="line1">支付方式</div>
      <label v-if="isCloud">
        <div class="line border-bottom">
          <div style="display: flex;">
            <input type="radio" name="cloudPay" checked>
            <div class="yc"></div>
            <div class="margin-left-10 color-666">
              云仓
              <span class="color-999">
              （可用云仓 <span class="color-red">￥{{userAccount.personalWarehouse}}</span> ）
              </span>
            </div>
          </div>
        </div>
      </label>
      <label v-if="!isCloud || mailMoney>0">
        <div class="line border-bottom">
          <div style="display: flex;">
            <input type="radio" name="payType" value="1" v-model="payType">
            <div class="zx"></div>
            <div class="margin-left-10 color-666">在线支付</div>
          </div>
        </div>
      </label>
      <label v-if="!isCloud || mailMoney>0">
        <div class="line">
          <div>
            <input type="radio" name="payType" value="4" v-model="payType">
            <div class="ye"></div>
          </div>
          <div class="margin-left-10 color-666">
            余额支付
            <span class="color-999">
              （可用余额 <span class="color-red">￥{{userAccount.advancePayment}}</span> ）
            </span>
          </div>
        </div>
      </label>
    </div>
    <div class="shop-pay-remind" v-show="showRemind">
      <div class="film"></div>
      <div class="remind">
        <div class="remind-relative">
          <div class="remind-absolute">
            <img src="../../../image/alert.png">
          </div>
          <p class="aui-text-center font-17 color-333">提醒</p>
          <p class="aui-text-center font-14 color-333">{{remindMsg}}</p>
          <div class="background-color-feabc5 color-fff font-15 aui-text-center" @click="showRemind = false">确定</div>
        </div>
      </div>
    </div>
    <div class="shop-pay-remind" v-show="showPaySuccessRemind">
      <div class="film"></div>
      <div class="remind">
        <div class="remind-relative">
          <div class="remind-absolute">
            <img src="../../../image/success.svg">
          </div>
          <p class="aui-text-center font-17 color-333">支付成功</p>
          <p class="aui-text-center font-14 color-333">您的订单已成功支付，您可以到我的订单中查看订单状态。</p>
          <div class="background-color-feabc5 color-fff font-15 aui-text-center" @click="closeConfirm">确定并关闭</div>
        </div>
      </div>
    </div>
    <footer class="foot" style="z-index: 0;">
      <div class="shop-pay-foot-left background-fff">
        <p class="color-red font-15">{{showFooterTotalMoney}}</p>
        <p class="color-999 font-11">(运费： ￥{{mailMoney}})</p>
      </div>
      <div class="shop-pay-foot-right background-color-feabc5 color-fff" @click="goConfirm()">提交订单</div>
    </footer>
  </div>
</body>
<script src="../../../script/api.js"></script>
<script src="../../../script/api-ajax.js"></script>
<script src="../../../script/vue.min.js"></script>
<script src="../../../script/aui/aui-dialog.js" ></script>
<script src="confirm_frm.js"></script>
<script>

</script>
</html>
