<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商品评价</title>
  <link rel="stylesheet" href="../../css/aui.css">
  <link rel="stylesheet" href="../../css/km.css">
</head>
<body>
  <div id="app">
    <div class="product-comment">
      <div class="product-detail-comments">
          <div class="product-detail-comment-item" v-for="(item, index) in comments" :key="index">
            <div class="comment-user">
              <img :src="item.head">
              <span>{{item.name}}</span>
            </div>
            <p class="time">{{item.name}} {{item.state}}</p>
            <p class="msg" v-if="item.msg">{{item.msg}}</p>
            <div class="comment-photo">
              <img v-for="(img, imgIndex) in item.imgs"
                :src="img"
                :class="item.imgs.length > 1 ? 'item-img' : ''"
                :key="imgIndex"
              />
              <div
                class="item-img"
                v-if="item.imgs.length > 1 && (item.imgs.length % 3 !== 0)"
                v-for="(el, dl) in (3 - item.imgs.length % 3)"
              ></div>
            </div>
          </div>
        </div>
    </div>
    <!-- 遮罩 -->
    <div id="film" class="film" :class="{asf: zhezhao}" v-show="zhezhao">
      <div class="film-zhanwei" @click="recover()"></div>
      <div class="film-content">
        <div class="film-content-title">
          <img src="holder.js/102x102" class="product">
          <div>
            <p class="price">￥150.00</p>
            <p class="kc">库存100</p>
            <p class="select">已选择{{size}}</p>
          </div>
          <img src="../../image/close.svg" class="close" @click="recover">
        </div>
        <div class="film-standard">
          <p>规格</p>
          <div class="aui-tab" id="tab1">
            <div class="aui-tab-item" :class="size === 'XL' ? 'aui-active' : ''" @click="setSize('XL')">XL</div>
            <div class="aui-tab-item" :class="size === 'L' ? 'aui-active' : ''" @click="setSize('L')">L</div>
            <div class="aui-tab-item" :class="size === 'M' ? 'aui-active' : ''" @click="setSize('M')">M</div>
            <div class="aui-tab-item":class="size === 'S' ? 'aui-active' : ''" @click="setSize('S')">S</div>
          </div>
        </div>
        <div class="film-standard">
          <p>颜色</p>
          <div class="aui-tab" id="tab2">
            <div class="aui-tab-item aui-tab-item1" :class="color === 1 ? 'aui-active' : ''" @click="setColor(1)">白色</div>
          </div>
        </div>
        <div class="film-num">
          <div class="text">数量</div>
          <div class="box">
            <div class="j background-f6 color-999" @click="numJ()">一</div>
            <div class="num background-e3">{{num}}</div>
            <div class="add background-e3"  @click="numAdd()">＋</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 遮罩 end-->
    <footer class="foot product-detail-foot">
      <div class="aui-col-xs-2 background-fff">
        <div class="aui-badge">3</div>
        <img src="../../image/shopping/shopcar.svg" class="aui-iconfont">
      </div>
      <div class="aui-col-xs-5 background-febb1f" @click="getBack()">加入购物车</div>
      <div class="aui-col-xs-5 background-fda9c5" @click="goPay()">立即购买</div>
    </footer>
  </div>
</body>
<script src="../../script/holder.js"></script>
<script src="../../script/api.js"></script>
<script src="../../script/vue.min.js"></script>
<script>
new Vue({
  el: '#app',
  data: {
    comments: [{
      head: '../../image/head.jpg',
      name: '卡萌代理',
      time: '2019-02-03',
      state: '规格36P*2包*1箱',
      imgs: ['../../image/index/zhanwei.png']
    },{
      head: '../../image/head1.jpg',
      name: '卡萌代理',
      time: '2019-02-03',
      state: '规格36P*2包*1箱',
      msg: '好又实惠',
      imgs: ['../../image/index/zhanwei.png', '../../image/index/zhanwei2.png', '../../image/index/zhanwei.png']
    }],
    zhezhao: false,
    size: 'XL',
    color: 1,
    title: 1,
    num: 1
  },
  methods: {
    getBack () {
      this.zhezhao = true
    },
    recover () {
      this.zhezhao = false
    },
    setSize (id) {
      if (this.size === id) return this.size = 0
      this.size = id
    },
    setColor (id) {
      if (this.color === id) return this.color = 0
      this.color = id
    },
    setTitle (id) {
      this.title = id
    },
    numJ () {
      if (this.num === 0) return
      this.num--
    },
    numAdd () {
      this.num++
    },
    goPay () {
      $api.openWin('/demo/shopping/shop_pay_win')
    }
  }
})
</script>
</html>