.padding-0-15 {
  padding: 0 15px;
}
.day {
  width: 100%;
  height: 30px;
  line-height: 40px;
  text-align: center;
}
.code {
  width: 100%;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
}
.day-list-item-bottom {
  padding: 5px 10px 10px 5px;
}
.aui-font-size-18 {
  font-size: 18px;
  position: relative;
}
.income-float-right {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  color: #999;
  cursor: pointer;
}
.day-detail-item .day-list-item {
  margin-top: 10px;
}
.background-fffbf3 {
  background-color: #fffbf3;
}
