.head {
  width: 100%;
  padding: 10px 15px;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.big-price {
  font-size: 30px;
}
.col-left {
  border-right: 1px solid #eee;
}
.head-look {
  margin: 15px 0;
  text-align: right;
}
.head-flex {
  width: 100%;
  display: flex;
}
.head-flex div {
  width: calc(50% - 5px);
  hight: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
}
.right {
  border: 1px solid #fda9c5;
}
.withdraw-title {
  padding: 0 15px;
  height: 45px;
  line-height: 60px;
}
.withdraw-list-item {
  padding: 15px 15px 0 15px;
}
.line1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line2 {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.line3 {
  height: 40px;
  line-height: 40px;
  /*text-align: right;*/
}
.withdraw-list-item:not(:first-of-type) {
  margin-top: 10px;
}
.background-pink {
  background-color: #fda9c5;
}
.color-pink {
  color: #feabc5 !important;
}
.color-a0c161 {
  color: #a0c161;
}

.background-color-feabc5 {
  background-color: #feabc5;
}

.shop-pay-remind .film {
  display: block;
  height: 100vh;
}
.shop-pay-remind .remind {
  width: 68%;
  height: 190px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -34%;
  z-index: 300;
  border-radius: 10px;
  background-color: #fff;
}
.shop-pay-remind .remind-relative {
  position: relative;
  padding: 15px;
}
.shop-pay-remind .remind-absolute {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px;
}
.shop-pay-remind .remind-absolute img {
  width: 55px;
  height: 55px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
  left: 50%;
  margin-left: -27.5px;
}
.shop-pay-remind .aui-font-size-16 {
  margin-top: 26px;
}
.shop-pay-remind .background-color-feabc5 {
  width: 47%;
  height: 34px;
  line-height: 34px;
  margin: 0 auto;
  margin-top: 28px;
  border-radius: 20px;
}
.remind-di {
  height: 100vh;
  overflow: hidden;
}
.film {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 200;
  display: block;
}
