.yc1-head .aui-col-xs-6 {
  padding: 19px 15px;
}
.yc1-head .aui-col-xs-6:first-of-type {
  border-right: 1px solid #eee;
}
.yc1-num {
  margin-top: 11px;
  font-size: 28px;
  text-align: center;
}
.yc1-head .aui-font-size-12 {
  margin-top: 15px;
  text-align: right;
}
.yc1-btn {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 23px;
}
.yc1-title {
  height: 40px;
  padding: 0 15px;
  line-height: 60px;
}
.yc1-title-item {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.yc1-dd {
  width: 5em;
  height: 100%;
  margin: 0 auto;
}
.yc1-dd-active {
  height: 43px;
  color: #feabc5;
  border-bottom: 2px solid #feabc5;
}
.yc1-template {
  margin-top: 3px;
}
.yc1-template .aui-row {
  padding: 0 15px;
  font-size: 15px;
}
.yc1-row {
  height: 45px;
  padding: 0 15px;
  line-height: 45px;
  border-bottom: 1px solid #eee;
}
.yc1-row .aui-font-size-12 {
  float: right;
}
.yc1-row1 {
  padding: 0 15px;
  margin-top: 10px;
}
.yc1-row2 {
  margin-top: 13px;
}
.yc1-template .yc1-row3 {
  margin-top: 3px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.margin-top-10 {
  margin-top: 10px;
}
.yc1-el {
  width: 30%;
  height: 85px;
  display: block;
}
.yc1-row3 .aui-col-xs-9 {
  display: flex;
  justify-content: space-between;
}
.yc1-row4 {
  width: 100%;
  height: 50px;
  padding: 7px 15px;
  display: flex;
  flex-direction: row-reverse;
}
.yc1-select {
  width: 90px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  border-radius: 20px;
}
.yc1-affirm {
  border: 1px solid #63c1db;
  color: #63c1db;
  margin-right: 10px;
}
.yc1-turn {
  border: 1px solid #999;
  color: #333;
}
.yc1-alert-text {
  height: 159px;
}
.alert-weiquan .yc1-num-text {
  font-size: 13px;
  padding: 0 15px;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.alert-weiquan .yc1-num-text::-webkit-input-placeholder {
  color: #ddd;
}

/* yc2 */
.yc2-head {
  padding: 19px 15px;
}
.yc2-btn .aui-font-size-12 {
  margin-top: 10px;
}
.yc2-btn {
  width: 155px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.yc2-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yc2-icon {
  height: 28px;
  margin-right: 10px;
}
/* yc2 end */

/* yc3 */
.yc3-pay {
  padding: 12px 15px 30px 15px;
}
.yc3-pay .aui-row {
  margin-top: 30px;
}
.yc3-pay .aui-col-xs-12 {
  display: flex;
  justify-content: center;
}
.yc3-pay .aui-col-xs-12 img {
  width: 139px;
  height: 128px;
  display: block;
}
.yc3-pay .aui-col-xs-12 img:last-of-type {
  margin-left: 20px;
}
.yc3-remark {
  padding: 20px 15px;
}
.yc3-remark .font-13 {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
}
.yc3-remark .font-13::-webkit-input-placeholder {
  color: #ddd;
}
.yc3-img-el {
  width: 81px;
  height: 81px;
  margin-top: 10px;
}
/* yc3 end */
/* yc4 */
.yc4-state {
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}
/* yc4 end */
.background-color-feabc5 {
  background-color: #feabc5;
}
.background-fda9c5 {
  background-color: #fda9c5;
}

.shop-pay-remind .film {
  display: block;
  height: 100vh;
}
.shop-pay-remind .remind {
  width: 68%;
  height: 210px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -34%;
  z-index: 300;
  border-radius: 10px;
  background-color: #fff;
}
.shop-pay-remind .remind-relative {
  position: relative;
  padding: 15px;
}
.shop-pay-remind .remind-absolute {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px;
}
.shop-pay-remind .remind-absolute img {
  width: 55px;
  height: 55px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
  left: 50%;
  margin-left: -27.5px;
}
.shop-pay-remind .font-17 {
  margin-top: 36px;
}
.shop-pay-remind .background-color-feabc5 {
  width: 47%;
  height: 34px;
  line-height: 34px;
  margin: 0 auto;
  margin-top: 28px;
  border-radius: 20px;
}
.zhezhao-di {
  height: 100vh;
  overflow: hidden;
}
.aui-no-data {
  top: 56% !important;
}
