.absolute-center {
    position: absolute !important;
    left: 50% !important ;
    transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
}

.margin-top-no {
    margin-top: 0;
}


.announce-ul {
    padding-top: 10px;
    background-color: transparent;
}
.announce-ul li {
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 0;
}
.announce-detail .announce-ul li {
    margin-bottom: 0;
}
.announce-detail .detail {
    background-color: #fff;
    padding: 10px 15px;
    border-top: 1px solid #d7d7d7;
}
.announce-detail .detail div {
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

.li-two {
    padding: 10px 15px;
    line-height: 18px;
}

.li-two p {
    padding-top: 4px;
}
